<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      
      <customErrors mode="On" defaultRedirect="~/Errors/OtherErrors.aspx" redirectMode="ResponseRewrite">
        <error statusCode="404" redirect="~/Errors/Error404.aspx" />
      </customErrors>

      <trace mostRecent="true" enabled="true" requestLimit="1000" pageOutput="false" localOnly="true"/>
      
    </system.web>

  
   

</configuration>
