html 
{
    background-color: #C1A985;
}

#PageWrapper {
    display: table;
    margin: auto;
}

#Header
{
border-bottom: 5px solid black;
width: 1000px;
height: 86px;
}

{
font-family: Arial;
}
h1
{
font-size: 20px;
}

#MenuWrapper
{
    width: 843px;
}
#MainContent
{
width: 654px;
height: 600px;
float: left;
}

#Sidebar
{
    float: left;
    width: 300px;
	height: 300px;
	border-radius: 150px;
}

#Footer
{
    border-top: 5px solid black;
    width: 1000px;
    clear: both;
}

img
{
border: 0;
}

.empty 
{
    height: 150px;
}

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../Images/Me.jpg) no-repeat; /* http://oi64.tinypic.com/2pu0cwy.jpg */
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
}